input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
    border-color: rgb(25,39,52);
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(25,39,52) inset;
}

input:-webkit-autofill:focus{
    border-color: #2cffbb;
    -webkit-box-shadow: 0 0 0px 1000px rgb(21,32,43) inset;
}