body {
  background-color: #15202b;
}

@font-face {
  font-family: "Dreamland-0vWd"; /*Can be any text*/
  src: url("./fonts/Dreamland-0vWd.ttf");
}
@font-face {
  font-family: "GreatVibes-Regular"; /*Can be any text*/
  src: url("./fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Tangerine-Bold"; /*Can be any text*/
  src: local("Tangerine-Bold"),
    url("../src/fonts/Tangerine-Bold.ttf") format("truetype");
}
